.catalog-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.428)),
    url("../public/catalog-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.filter-bar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.filter-group {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.filter-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.filter-group select,
.filter-group input {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.product-category {
  margin-bottom: 4rem;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--accent);
}
